.subhome-container{
  display:flex;
}
.left-subhome{
  width: 50%;
  background-color: #FFF;
}

.right-subhome{
  width: 50%;
  background-color: #FF9F2F;
  /* text-align: center; */
  color: #FFF;
  /* justify-content: center; */
  /* align-items: center; */
  /* height: 600px; */
  padding-top: 12.8rem;
  padding-bottom: 12.8rem;
}

.right-subhome-div{
  width: 70%;
  margin: 0 auto;
}

.right-subhome-div h1{
  font-size: 48px;
}

.right-subhome-div p{
  font-size: 18px;
}

.right-subhome-div button{
  float: left;
  padding: 12px 15px;
  border-radius:10px;
  border:none !important;
  color: #FF9F2F;
  margin-top:4rem;
  cursor: pointer;
}

.home-input-container{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 12.8rem;
  padding-bottom: 12.8rem;
}

.home-input-container h5{
  font-size:30px;
  text-align:left;
}

.home-input-container input{
  width:80%;
  padding: 12px 15px;
  border-radius:10px;
  border:none !important;
  box-shadow: 18px 18px 18px rgba(192, 192, 192, 0.2);
  outline: none !important;
}

.home-input-container button{
  padding: 12px 15px;
  border-radius:10px;
  border:none !important;
  background-color: #FF9F2F;
  color: #FFF;
  margin-top:4rem;
}

.welcome-container{
  background-color: #FF9F2F;
  color: #FFF;
  /* padding-top: 9rem;
  padding-bottom: 9rem; */
  padding:7rem 2rem;
  margin-top:10rem !important;;
  /* margin-bottom: 4rem; */
  text-align: center;
  width: 60%;
  margin:0 auto;
}

.welcome-container button{
  padding: 12px 15px;
  border-radius:10px;
  border:none !important;
  background-color: #FFF;
  color: #FF9F2F;
  margin-top:1.5rem;
}

.quiz-container{
  /* padding:7rem 2rem; */
  margin-top:10rem !important;;
  /* margin-bottom: 4rem; */
  text-align: center;
  margin:0 auto;
  width: 100%;
}

.quiz-container h5{
  font-size:30px;
}
.quiz-container label{
  font-size:24px
}
.quiz-container button{
  padding: 18px 25px;
  border-radius:10px;
  border:none !important;
  background-color: #FF9F2F;
  color: #FFF;
  margin-top:2rem;
  width:150px;
  cursor: pointer;
}